---
import { APIProducts } from '@/services/API'

import Layout from '@allProducts/layouts/Layout.astro'

import CardProductSmall from '@/allProducts/components/CardProductSmall.astro'

import '@allProducts/components/styles.css'

const allProducts = (await APIProducts.getProducts()) || []

const [...categories] = new Set(allProducts.map(({ category }) => category))

const [...brands] = new Set(allProducts.map(({ brandProduct }) => brandProduct))
---

<Layout title="Todos los Productos">
  <aside class="flex flex-col gap-2 bg-local_background_4 p-2 mb-2 rounded-sm">
    <h2 class="text-xl font-medium pb-2">Filtros</h2>

    <section class="flex flex-col gap-6">
      <div>
        <h3 class="border-b-2 pb-2 mb-2">Categorías</h3>
        <ul class="flex flex-col gap-2">
          {
            categories?.map((category) => (
              <li class="flex gap-2 items-center">
                <input type="checkbox" class="size-4 rounded-md" />
                <span class="text-sm">{category}</span>
              </li>
            ))
          }
        </ul>
      </div>
      <div>
        <h3 class="border-b-2 pb-2 mb-2">Marcas</h3>
        <ul class="flex flex-col gap-2">
          {
            brands?.map((category) => (
              <li class="flex gap-2 items-center">
                <input type="checkbox" class="size-4 rounded-md" />
                <span class="text-sm">{category}</span>
              </li>
            ))
          }
        </ul>
      </div>
      <div>
        <h3 class="border-b-2 pb-2 mb-2">Descuesto</h3>
        <ul class="flex flex-col gap-2">
          <li class="flex gap-2 items-center">
            <input type="checkbox" class="size-4 rounded-md" />
            <span class="text-sm">Con descuento</span>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="border-b-2 pb-2 mb-2">Precio</h3>
        <ul class="flex flex-col gap-2">
          <li class="flex flex-col gap-2">
            <input type="range" class="" />

            <div>
              <span class="text-sm">$0</span>
              -
              <span class="text-sm">$1,000,000</span>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </aside>

  <div class="flex-1 flex flex-col gap-12 pb-10">
    <div class={`${allProducts?.length < 2 ? 'two-products' : 'products'}`}>
      {
        allProducts?.length == 0 && (
          <p class="text-center text-local_text">
            No hay productos disponibles
          </p>
        )
      }
      {
        allProducts?.map(({ id, category, image, title, price, descuento }) => {
          return (
            <CardProductSmall
              id={id}
              category={category}
              image={image}
              title={title}
              price={price}
              descuento={descuento}
            />
          )
        })
      }
    </div>
  </div>
</Layout>
