---
import { APIProducts } from '@/services/API'

import Layout from '@allProducts/layouts/Layout.astro'

import CardProductSmall from '@/allProducts/components/CardProductSmall.astro'

import '@allProducts/components/styles.css'
import { AsideFilters } from '@/allProducts/componentsIslands/AsideFilters'

const allProducts = (await APIProducts.getProducts()) || []

const [...categories] = new Set(allProducts.map(({ category }) => category))

const [...brands] = new Set(allProducts.map(({ brandProduct }) => brandProduct))
---

<Layout title="Todos los Productos">
  <AsideFilters client:load categories={categories} brands={brands} />

  <div class="flex-1 flex flex-col gap-12 pb-10">
    <div class={`${allProducts?.length < 2 ? 'two-products' : 'products'}`}>
      {
        allProducts?.length == 0 && (
          <p class="text-center text-local_text">
            No hay productos disponibles
          </p>
        )
      }
      {
        allProducts?.map(({ id, category, image, title, price, descuento }) => {
          return (
            <CardProductSmall
              id={id}
              category={category}
              image={image}
              title={title}
              price={price}
              descuento={descuento}
            />
          )
        })
      }
    </div>
  </div>
</Layout>
