---
import type { ProductData } from '@/env'

import './styles.css'
import CardProduct from './CardProduct.astro'

const { products } = Astro.props as { products: ProductData }
---

<div class="flex flex-col gap-12 pb-10">
  <h2 class="text-2xl font-semibold">Productos Similares</h2>

  <div id={`${products?.length < 3 ? 'two-products' : 'products'}`}>
    {
      products?.length == 0 && (
        <p class="text-center text-local_text">No hay productos disponibles</p>
      )
    }
    {
      products?.map(({ id, category, image, title, price, descuento }) => {
        return (
          <CardProduct
            id={id}
            category={category}
            image={image}
            title={title}
            price={price}
            descuento={descuento}
          />
        )
      })
    }
  </div>
</div>
