---
import InformationProduct from './InformationProduct.astro'

import { SliderProduct } from '../componentsIslands/SliderProcut'

const {
  id,
  category,
  collection,
  brandProduct,
  image,
  title,
  price,
  origin,
  descuento,
  description,
  features,
  stock,
  shell,
} = Astro.props
---

<section class="flex flex-col md:flex-row gap-4 md:h-[85vh] pb-10">
  <SliderProduct image={image} client:load />

  <InformationProduct
    id={id}
    category={category}
    collection={collection}
    brandProduct={brandProduct}
    title={title}
    price={price}
    description={description}
    features={features}
    origin={origin}
    descuento={descuento}
    stock={stock}
  />
</section>
