---
import { SliderProduct } from '../componentsIslands/SliderProcut'
import InformationProduct from './InformationProduct.astro'
// import { InformationProduct } from '@product/componentsIslands/InformationProduct'

// import SliderProduct from './SliderProduct.astro'

const {
  id,
  category,
  collection,
  brandProduct,
  image,
  title,
  price,
  descuento,
  description,
  features,
  stock,
  origin,
  shell,
} = Astro.props
---

<section class="flex flex-col md:flex-row gap-4 md:h-[85vh] pb-10">
  <SliderProduct image={image} client:load />

  <InformationProduct
    title={title}
    price={price}
    description={description}
    features={features}
    origin={origin}
    client:load
  />
</section>

<!-- ---
import { SliderProduct } from '../componentsIslands/SliderProcut'

const { id } = Astro.props
---

<section class="flex flex-col md:flex-row gap-4 md:h-[85vh] pb-10">
  <SliderProduct id={id} client:load />

  <InformationProduct client:load />
</section> -->
