---
// import type { FrameData } from "@/env"

import { APIFixes } from '@services/API'

const { all = false } = Astro.props

const fixes = (await APIFixes.getFixes()) || []
const frameFixes = fixes.slice(0, 6)

const containerFixes = all ? fixes : frameFixes
---

<!-- Reina Copia Este ejemplo en html y baja a copiar todo el script y style --><!--
<div class="container-compare">
  <div class="compare">
    <img
      src="https://v5.airtableusercontent.com/v3/u/36/36/1735617600000/BBrmR_4h8DgWX7WXHvQxhQ/BU18EiZv0W8E_xeN3j5M2T14VoCOeYiqiZH4lkSXZT0FZPVAMb820Ncf1YDPFfOfJi_6f5GmAlYkvNQ-cFB_R2aLU0Ncp9y5CKXaK_hMZRmLSUR6k_giCTMVLU3IrVNJCnpOMycWBs4LHdYP0Q7o1A/6iRPyfCvHkIfKOKycWxmWbA1VR583RzAnplNUcavqHY"
      alt="Titulo de la imagen"
    />
    <img
      src="https://v5.airtableusercontent.com/v3/u/36/36/1735617600000/YjIgJEJrJoHm_VgCXhskrQ/KXk6TVP6aSFl2g_IYZFglHQxwjnNLS7MtTC8k39NuiC68oFwbHV39InXygjM_0qj0qzwtGhFGEU3I44hDs8zDfqgIM6R7CyNswbB7R1Wdv8n88AOPkydyrUEiEPVVL0-W-dJbCdHWX9RiF1TFoNhfw/jaRWi_UrwR8H5xqbTeHRbMGr1nHZCeGHzgGALK-K4Ew"
      alt="Titulo de la imagen"
    />
  </div>
  <div class="compare">
    <img
      src="https://v5.airtableusercontent.com/v3/u/36/36/1735617600000/BBrmR_4h8DgWX7WXHvQxhQ/BU18EiZv0W8E_xeN3j5M2T14VoCOeYiqiZH4lkSXZT0FZPVAMb820Ncf1YDPFfOfJi_6f5GmAlYkvNQ-cFB_R2aLU0Ncp9y5CKXaK_hMZRmLSUR6k_giCTMVLU3IrVNJCnpOMycWBs4LHdYP0Q7o1A/6iRPyfCvHkIfKOKycWxmWbA1VR583RzAnplNUcavqHY"
      alt="Titulo de la imagen"
    />
    <img
      src="https://v5.airtableusercontent.com/v3/u/36/36/1735617600000/YjIgJEJrJoHm_VgCXhskrQ/KXk6TVP6aSFl2g_IYZFglHQxwjnNLS7MtTC8k39NuiC68oFwbHV39InXygjM_0qj0qzwtGhFGEU3I44hDs8zDfqgIM6R7CyNswbB7R1Wdv8n88AOPkydyrUEiEPVVL0-W-dJbCdHWX9RiF1TFoNhfw/jaRWi_UrwR8H5xqbTeHRbMGr1nHZCeGHzgGALK-K4Ew"
      alt="Titulo de la imagen"
    />
  </div>
  <div class="compare">
    <img
      src="https://v5.airtableusercontent.com/v3/u/36/36/1735617600000/BBrmR_4h8DgWX7WXHvQxhQ/BU18EiZv0W8E_xeN3j5M2T14VoCOeYiqiZH4lkSXZT0FZPVAMb820Ncf1YDPFfOfJi_6f5GmAlYkvNQ-cFB_R2aLU0Ncp9y5CKXaK_hMZRmLSUR6k_giCTMVLU3IrVNJCnpOMycWBs4LHdYP0Q7o1A/6iRPyfCvHkIfKOKycWxmWbA1VR583RzAnplNUcavqHY"
      alt="Titulo de la imagen"
    />
    <img
      src="https://v5.airtableusercontent.com/v3/u/36/36/1735617600000/YjIgJEJrJoHm_VgCXhskrQ/KXk6TVP6aSFl2g_IYZFglHQxwjnNLS7MtTC8k39NuiC68oFwbHV39InXygjM_0qj0qzwtGhFGEU3I44hDs8zDfqgIM6R7CyNswbB7R1Wdv8n88AOPkydyrUEiEPVVL0-W-dJbCdHWX9RiF1TFoNhfw/jaRWi_UrwR8H5xqbTeHRbMGr1nHZCeGHzgGALK-K4Ew"
      alt="Titulo de la imagen"
    />
  </div>
</div>
-->
<div class="container-compare">
  {
    containerFixes.map((fixes) => (
      <div class="compare">
        <img src={fixes.image[0].url} alt={fixes.title} />
        <img src={fixes.image[1].url} alt={fixes.title} />
      </div>
    ))
  }
</div>

{
  all == false && fixes.length > 6 && (
    <div class="grid place-content-center">
      <a
        href="/all_fixes"
        class="px-6 py-2 rounded bg-local_button text-local_text_2 font-medium"
      >
        ver mas
      </a>
    </div>
  )
}

<script>
  const $$ = (element: string) => document.querySelectorAll(element)

  const sliderCompare = $$('.compare') as NodeListOf<HTMLDivElement>

  let viewImage

  for (let slider of sliderCompare) {
    let selectFirsImg = slider.firstElementChild as HTMLImageElement

    slider.addEventListener('mousemove', (e) => {
      viewImage = (e.layerX / sliderCompare[0].offsetWidth) * 100

      selectFirsImg.style.width = `${viewImage}%`
    })

    slider.addEventListener('touchmove', (e) => {
      viewImage = (e.touches[0].clientX / sliderCompare[0].offsetWidth) * 100

      selectFirsImg.style.width = `${viewImage}%`
    })
  }
</script>

<style>
  .container-compare {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
    gap: 1rem;
    min-height: 400px;
  }

  .compare {
    position: relative;
    background: #000;
    display: flex;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;

    img {
      position: absolute;
      object-position: 0% 100%;
      object-fit: cover;
      width: 100%;
      height: 100%;
      pointer-events: none;
      user-select: none;

      &:first-child {
        z-index: 30;
        width: 50%;
        height: 100%;
      }
    }

    & > img:first-child {
      border-right: 2px solid rgb(24, 233, 24);
    }
  }
</style>
